<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h2>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h2>
      <div class="lead" style="margin-bottom:0">{{ site.description }}</div>
      <div class="lead" style="margin-bottom:0">Computer Science</div>
      <div class="lead" style="margin-bottom:1rem"> Georgia Tech</div>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item" href="/blog/">Posts</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/geonhwa/">Linkedin</a>
      <a class="sidebar-nav-item" href="https://github.com/ghjeong12">GitHub project</a>
      {% comment %}
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
      {% endcomment %}
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
